[2014-12-11 02:39] mkosmala opened #4 "Import S7 metadata into database"

[2014-12-11 02:40] mkosmala opened #5 "Process and prepare S8 for Zooniverse uptake"

[2014-12-11 02:53] mkosmala opened #10 "Calculate and import plurality consensus on invalid images"
Ali makes the good point that they might one day have proper timestamps. And in any case, computer science folks might be able to use them for vision research.

[2014-12-11 03:01] mkosmala opened #14 "Back up the database!"
Do this before #4

[2014-12-11 03:06] mkosmala opened #15 "Consensuses for gold standard captures contain expert classifications"
I realized today that all the expert classifications are part of our database. So in the data we submitted to dryad, the expert classifications appear and are counted in getting the consensus results. This is a problem if someone wants to take the data and write an aggregating algorithm like Greg did and compare it to the gold standard data -- because the correct algorithm is to _ignore_ everyone

[2014-12-11 03:10] mkosmala opened #17 "Add duikers, steenbok, and maybe bats, insects/spiders to SS GUI"
I'd love to see this happen, especially for duikers and steenbok. Right now those are getting classified *wrong*, whereas for insects/spiders they're just missed, which isn't so bad. Bats I don't have a good sense of... they might be getting classified as rodents or otherBirds, but haven't looked into it. If we do this when we launch S8, then we only have to do #9 for S1-S7.

[2014-12-29 15:10] mkosmala opened #24 "Prepping S8"
From the email thread:

@palme516: I'm looking at the S8 cleaning output file. The columns seem to be different from those in S7. The one from S7 is in shared/TimeStampCleaning/CleanedCaptures. Specifically, after "path", in previous seasons, there was "newtime","invalid","include". I think your "NA" should likely be "newtime". "invalid" is correct. "sr" is redundant and doesn't need to be output

[2015-01-02 18:59] mkosmala commented on #5
Subsumed by #24

[2015-01-02 18:59] #5 closed

[2015-01-02 19:23] mkosmala commented on #14
Done. And it was easy. I added a "how to" to GitHub.

[2015-01-02 19:23] #14 closed

[2015-01-02 21:08] mkosmala commented on #10
24,560 invalid captures have been properly linked to their consensuses now. There are 9 weird ones that have supposedly been sent to Zooniverse, but don't have consensuses. Not worth the time to track down these 9 right now:
[code]

[2015-01-02 21:10] #10 closed

[2015-01-03 18:55] palme516 commented on #24
@mkosmala Apologies for taking so long to get these files to you -- my internet connection this week has been absolutely pathetic. Here's what I've got so far:

- 521 rolls in S8 cleaning file: There are 525 files in S8 (files_in_S8.txt file in "Scripts" folder). This was counted prior to some of the manipulations we made in the file structure, such that the three sets of "A, B" rolls got consolid

[2015-01-07 20:50] mkosmala opened #25 "MSI directory cleanup: put image directories in common directory"

[2015-01-07 20:52] mkosmala opened #26 "MSI directory cleanup: clean up misc_S7"
@palme516 and @aliburchard : can you discuss what sort of things in here need to be kept and where they should best go.
Meredith, there are also movie files to move. Not sure what else is in here.

[2015-01-07 20:54] mkosmala opened #27 "MSI directory cleanup: AddToDB/recovered"
Figure out what images in here should be kept, delete the duplicates, and process the rest.

[2015-01-07 20:55] mkosmala opened #28 "MSI directory cleanup: delete Pulled_images"

[2015-01-07 20:55] mkosmala opened #29 "MSI directory cleanup: Move RandShellScripts scripts to GitHub"

[2015-01-07 20:56] mkosmala opened #30 "MSI directory cleanup: remove/move raw_data.csv"

[2015-01-07 20:56] mkosmala opened #31 "MSI directory cleanup: clean up scripts directory"
Remove non-scripts

[2015-01-07 20:57] mkosmala opened #32 "MSI directory cleanup: move TimeStampCleaning scripts to GitHub"

[2015-01-07 20:57] mkosmala opened #33 "MSI directory cleanup: consolidate processing directories"
All these:
TimeStampCleaning
X. captures_comparison - comparison of our captures with zooniverse's
3. classifications_data - data back from Zooniverse
2. season_captures - results of captures creation script
1. season_data_orig - results of timestamp extraction script

[2015-01-07 20:58] mkosmala opened #34 "MSI directory cleanup: ask tuytelaa to clean up files and directories"

[2015-01-07 20:58] mkosmala opened #35 "MSI directory cleanup: make directory structure within 'movies' consistent among seasons"

[2015-01-07 20:59] mkosmala opened #36 "Give up DreamHost?"
@aliburchard, @palme516 and I were discussing whether we need DreamHost anymore. Now that we've got 18 TB at MSI, can we move anything we still need or want to keep to MSI and shut down our DreamHost account?

[2015-01-07 21:03] mkosmala opened #37 "MSI directory cleanup: questions for Ali"
@aliburchard: Some questions for you so @palme516 and I can clean up the MSI directory structure:

1. What are the access files in S5_weird_stuff? Do we need them?
2. Can you please delete S8backup if that's no longer needed?
3. What's are S1,S2,S3,S6 in AddToDB? (We don't have permission to look.)
4. What is the 'copyoutput' directory? (We don't have permission to look.)
5. Is directory 'Target'

[2015-01-07 22:25] #31 closed

[2015-01-07 23:21] #28 closed

[2015-01-09 18:35] palme516 commented on #26
@mkosmala Movies are gone now -- I placed whichever weren't duplicates in the movies/S7 folder

@aliburchard, I'm pretty sure that this directory are files that were recovered from S7 SD cards that AREN'T camera trap images, i.e., random files that Daniel and Stan put on the SD cards when they needed to transfer other data. I don't think anything here is useful for us, but I remember not wanting t

[2015-01-09 19:21] palme516 commented on #35
Done

[2015-01-09 19:21] #35 closed

[2015-01-12 19:06] mkosmala commented on #24
Hey, @palme516 and @aliburchard, where are we on this? Feels like S8 is a bit stalled... Is anyone waiting on me for something? Are we almost there?

[2015-01-12 20:17] aliburchard commented on #24
Hiya - Sorry, I've also been out of the loop the last couple weeks and am now just catching up.

I *think* we are waiting on @palme516 to sanity check some of the funky invalidations? From this thread, it looks like there were a number of really large capture events that went through flagging and Meredith was going to spot-check those.

@mkosmala you noticed a number of images that appeared to be

[2015-01-12 20:30] aliburchard commented on #24
Actually, @palme516 @mkosmala - think we could promise the launch by the end of January? I'll check with Michael, but pretty sure image ingestion will go pretty quickly - so as long as we can get our end sorted by, say, Jan 20th or so, we should be able to get them online by Jan 31.

[2015-01-12 20:38] palme516 commented on #24
@aliburchard, @mkosmala -- the reasons for the funky invalidations are listed in the S8 Action List, which I uploaded to MSI last week. I did do back just now and give them another look over (apologies for not getting this to you right away), but what seems to be happening is what's mentioned in the Action List: there's just a TON of video, especially in R13_R1, that had to be removed. I don't thi

[2015-01-12 20:42] palme516 commented on #24
Oops, sorry - I don't think I directly answered the question. There are only two rolls in this season that were flagged for having 3+ captures ("badcap"), but L10_R1 wasn't one of those. @mkosmala, how did you discover that that roll had multiple captures? I'll recheck the roll and the flagging script to see why that didn't come up.

[2015-01-12 21:00] palme516 commented on #24
Okay, I'm looking at the cleaned captures and going through the hard-drive for L10_R1 -- you're right, @mkosmala - there's some large captures in there. Looking at the images, the photos are taken in bursts of three, but the timestamp is sticking for multiple capture events in a row. From looking at the pictures, the "stick" that occurs at 1675 significantly messes up the timestamps for the subseq

[2015-01-12 21:06] aliburchard commented on #24
@palme516 Awesome, thanks for that.

I'm fine with marking the three R13_R1 misfires as invalid and that the camera doesn't really count as functional during that time. ( unless @mkosmala any objections?)

Two thoughts:
1) Cameras that get triggered to video still take stills at night if they trigger. So we could in theory have gotten nighttime captures during that time, but not daytime (because t

[2015-01-12 22:00] mkosmala commented on #24
@palme516 and @aliburchard : I checked R13_R1 just now, too. There are 67 captures marked as invalid (not 3, Meredith, how did you get that number?) They all have nighttime timestamps and are single-image captures. So there you go. I'm fine with them being "invalid" since calculating camera trap effort for this time would be incorrect since it was technically only operational at night. (Although,

[2015-01-12 22:00] mkosmala opened #38 "Snapshot Serengeti: Video Edition"

[2015-01-12 22:04] aliburchard commented on #24
Follow up:

I was able to get on MSI finally. On the upside, I see there are very few actions for S8! That's fantastic.

@palme516 , I'm pretty sure that the "First" column (that contains text in the format "S8_C06_R") is an error -- that it should be IMAGE numbers of the first image in the bad image sets -- but because we renamed image files to include season, site, and roll, the name is being sp

[2015-01-12 22:08] aliburchard commented on #24
@palme516 @mkosmala - what if we marked R13 images as Invalid2? That way they will still be sent to Zooniverse. They'll still be discarded from analyses and calculations of camera effort, but leave open the possibility of using later. This is actually a problem for all rolls that go to video, so might be worth devoting some effort down the line  -- say, images from these cameras could be used for

[2015-01-12 22:12] aliburchard opened #39 "Update Timestamp Scripts to handle Rename"
The Timestamp flagging scripts are not updated to handle our new file name format (that includes Season, Site, and Roll before image name). These need to be checked and updated.

[2015-01-13 00:41] mkosmala commented on #24
Sounds good to me.

[2015-01-13 15:45] palme516 commented on #24
Margaret right about R13_R1 - my apologies.

I think roll L10_R1 is shot, and that images starting with 168 should be marked INVALID1. L10_R1 is the roll with multiple bad captures of extremely long lengths, throwing the timestamps off for the entire roll multiple times.

Regarding L10_R1 and the other bad (>3) captures, I'm emailing out a table with the image paths, their current invalid status,

[2015-01-14 21:45] aliburchard commented on #37
@mkosmala @palme516:

1. Access files were just field entry data, we don't need those files there.
2. Doing so now.
3. AddToDB images includes rolls that weren't incorporated into the Serengeti Live Database (because I couldn't add new rolls, and thus the importer didn't recognize them). Thus they were never sent to Zooniverse. I suspect that the S6 rolls in this folder were sent with S7? And I su

[2015-01-14 21:45] #37 closed

[2015-01-14 21:46] aliburchard opened #40 "AddToDB folder"
AddToDB has rolls that were never sent to Zooniverse.  We need to double check that these were imported into the database and are marked as needing to be sent to Z.

[2015-01-14 21:47] aliburchard commented on #36
Definitely. I'm not sure there is anything at Dreamhost anymore, actually, that's not at MSI. Have we confirmed that the fullest-res photos are all at MSI?

[2015-01-14 21:48] aliburchard commented on #40
Whoops, this is a duplicate of #27

[2015-01-14 21:48] #40 closed

[2015-01-14 21:53] aliburchard commented on #24
I'll work on adding catching O vs 0 to a rename script. @palme516 Have you now renamed these rolls?

I'd also suggest keeping as close an eye as possible on the camera trap data while you're actually in the field (especially since presumably you're doing most of the sites and Norbert/Daniel are only doing them when you're not there). As you can see, it's incredibly hard to figure out what's happen

[2015-01-14 21:56] mkosmala commented on #36
I'm pretty sure that only full-res photos are at MSI. When I copied S1-3 from Dreamhost, I didn't reduce images. And I've never loaded images from Zooniverse to MSI. Any other reason to think we might have non-full-res images at MSI?

[2015-01-14 22:40] aliburchard commented on #36
We had various reduced size images at Dreamhost for displaying on the Serengeti Live website, but they were labeled in folders as medium and small. So unless you used those (I can't imagine why), then we should be good.

[2015-01-15 02:24] mkosmala commented on #36
Great, then let's ditch it. Craig will be thrilled. @palme516, can you look into how to close out our account at DreamHost?

[2015-01-15 14:03] palme516 commented on #36
Yup! I'll let Craig know and shut it down.

[2015-01-15 14:13] palme516 commented on #36
Ugh, wait, it looks like lionresearch.org is also linked with DreamHost? But the hosting is DNS only (my (poor) understanding of this is that DreamHost simply routes domain names to the website...). I can't find any data on DreamHost that might be linked with lionresearch.org. I assume there are other, cheaper DNS services we could use?

[2015-01-15 14:20] aliburchard commented on #36
Hm. There is no data on DreamHost that has anything to do with the
lionresearch.org site. And lionresearch.org redirects to the UMN hosted
site anyway. So we jsut have to keep that domain name, and I assume there
are cheaper options -- might be best to ask the folks who maintain the
lionresearch website (they're in CBS. Not IT, but Steph Xenos or....Craig
might remember the name of the office....)

[2015-01-15 14:33] palme516 commented on #36
Okay, I'll email Craig and get in touch with these people

[2015-01-15 14:52] palme516 commented on #24
Okay, just got around to this this morning -- I've renamed the directories and file names for all folders/images in P04_R2, 3, 4, (-> P04_R1, 2, 3) and M07_R3 (-> R2) on both MSI and in the "S8_cleaned.csv" document. @mkosmala, I've re-uploaded this file onto MSI.

[2015-01-15 14:53] palme516 commented on #24
Yeah @aliburchard, that's a good idea. I'm supposed to call Daniel this week regarding another issue, and I'll set up some time with him to talk at least a few times a month...

[2015-01-15 20:52] mkosmala opened #41 "Add Tom and Michael as collaborators on GitHub"
Just to keep track of things nicely, @aliburchard, can you add them in the Collaborators folder?

[2015-01-15 21:17] mkosmala commented on #24
Looking through the updated S8_cleaned.csv file now...

1) @palme516, there are blank lines here and there. And some come in the middle of captures. Why is that? What's going on?

2) @aliburchard, did you ever get a chance to see if captures with two different invalid codes appeared in S1-6? I ask, because the metadata database only assigns invalid codes to *captures*, not images. If some images a

[2015-01-15 22:33] aliburchard commented on #24
@mkosmala damn. There are a small number of capture events that have multiple invalid codes. I don't know how you made your nice table, but the ugly one below shows sites, roll, capture ID with >1 invalid type, the total number of types (countinvalids, all = 2), the total pictures in that capture, and then the number in each invalid type (pix0, 1, 2, and 3).

I'm not sure what the best approach is

[2015-01-15 22:50] aliburchard commented on #17
@palme516 Can you
1) write up the text for the "easily confused with" buttons for duiker/steenbok/dikdik? (if you play with the interface, you'll see where it's missing).
2) Was thinking we might also want to add "cattle" into the easily confused with wildebeest and buffalo. They are similarly shaped, and non-serengeti folks indicate they are wildly mistakable. I'd say focus on the hump and color.

[2015-01-16 14:02] palme516 commented on #24
@mkosmala, those seem about right except for E13 and S07... off the top of my head, I don't remember invalidating those. I'd go back and check, but as I'm re-running everything at the moment, I'll go through the output of this next run and make sure that the total invalidated images match up.

[2015-01-16 15:19] palme516 commented on #17
@aliburchard Does this work?

#Duiker often confused with:

Reedbuck: Reedbuck lack the dark muzzle and forelegs of a duiker. The horns of a male duiker are straighter and smoother than those of a male reedbuck.

Dik dik: Dik dik are smaller and less stocky than a duiker, lacking the prominently dark muzzle and foreleg stripes.

Steenbok: Steenbok are more petite than duiker. The black facial glan

[2015-01-16 21:30] palme516 commented on #39
I've fixed these - where would you like me to store/upload the new scripts?

[2015-01-18 21:13] aliburchard commented on #17
@palme516 @mkosmala looks good to me!

[2015-01-19 00:46] mkosmala commented on #17
"should" should be "shoulder"

[2015-01-19 16:11] #39 closed

[2015-01-19 16:12] palme516 opened #42 "Move Timestamp Scripts to GitHub"
Move updated cleaning and flagging R scripts to GitHub, update scripts on MSI

[2015-01-19 16:15] palme516 commented on #42
Updated on MSI...

[2015-01-19 16:25] palme516 commented on #42
Uploaded to GitHub...

[2015-01-19 16:25] #42 closed

[2015-01-19 20:26] aliburchard commented on #24
@palme516 @mkosmala I've had a quick glance at the newly outputted S8 captures.

All the valid dates are within Sep 2013 thru July 2014 -- does that sound about right?

These three Site/Roll/Captures have more than one invalid type, which we've realized the DB can't accommodate. How did we decide to fix these?

site roll capture
S07    2      83
L02    2       1
L06    2    1003

There are 178 cap

[2015-01-19 20:42] palme516 commented on #24
@aliburchard @mkosmala Blaargh, for E13, R2, the second image of capture 681 is listed as being in capture 682. Thanks for catching that, I'll fix that up in R and reupload the cleaned caps to MSI just now.

[2015-01-20 16:41] mkosmala opened #43 "Figure out what to do with capture events that have multiple invalid codes"
For Seasons 1-8, we have a few. See #24

[2015-01-20 16:46] mkosmala commented on #24
@aliburchard @palme516: I think that for now, let's just go ahead and ignore the captures that have multiple invalid codes. Let's not slow down import to Zooniverse because of this. I've opened a new issue ( #43 ) to address the database import, which we can figure out later.

Meanwhile, what do we do for Zooniverse import? We want Zooniverse to slurp up images with invalid codes of 2 and 3, right

[2015-01-21 13:40] aliburchard commented on #24
Agreed on ignoring this for now - we should try to get the images and manifest to Chris Snyder by the end of the week. No idea how long the image transfer and then ingestion will take.

@mkosmala the general approaches for invalid codes hold - we want all invalid codes 0, 2, 3 to be classified. We don't want images with invalid code 1 to be classified.

Invalid codes 2 and 3 are for images that co

[2015-01-21 14:10] aliburchard commented on #32
@palme516 I'm closing this, as Meredith has moved the scripts up here.

[2015-01-21 14:10] #32 closed

[2015-01-21 16:14] #41 closed

[2015-01-21 16:27] mkosmala commented on #24
@aliburchard, yes, but there's still an issue we need to resolve before sending along the manifest. If a captures has images that have invalid codes like so:
image1 - invalid 0
image2 - invalid 0
image3 - invalid 0
image4 - invalid 3
image5 - invalid 3
...
image84 - invalid 3

then *all* those 84 images are going to be slurped up by Zooniverse and we're going to have a problem with that capture on

[2015-01-22 13:35] aliburchard commented on #24
@mkosmala hmmm good point. excellent point. damn.

So this is the only remaining hold up for sending to Zooniverse, right? And we don't have a good way to split those captures...@palme516 can you see if those images have anything in them worth keeping and doing the manual splitting? If not, we can just mark them as 1 and proceed to the Zooniverse...otherwise, perhaps as Margaret suggests, give the

[2015-01-22 14:46] palme516 commented on #24
I've just checked through the images and it looks like it should be a fairly simple fix:

S07_R2_C83 is 12 images that contain wildebeest, but they're pretty obviously split into different capture events, so I'll go through R and manually change these each to their own CE, with the subsequent CEs being given tags of INVALID 3

L02_R1_C1 is three images, the first two of which are INVALID 1. There'

[2015-01-22 17:07] mkosmala commented on #24
@palme516 Have you also looked at any >3 image captures that are all marked invalid 2 or invalid 3? We also don't want to have a set of 84 images that are all invalid=3...

[2015-01-22 22:21] palme516 commented on #24
Okay, went through and either separated out the captures or, if the extras were just misfires, marked them as invalid 1. There is now no capture event >3 where the images are marked as anything other than okay and invalid 1.

[2015-01-22 22:38] mkosmala commented on #24
Yay! @aliburchard Let's get the images uploaded!

[2015-01-23 18:41] aliburchard commented on #24
yay! alrighty, I'll ping Chris S to see how he's coming along with access to MSI...

[2015-01-23 21:51] aliburchard opened #44 "Invalid gold standard data; not in consensus table"
There are 43 subjects in the gold-standard dataset that have an invalid code != 0. I discovered this by querying subjects in the gold data that were not in consensus data. I think that the consensus data ( in the sql db) should include invalid codes 2 and 3, but maybe the consensus data published on dryad should not, as the times are definitely bad.

The 43 images are below:
[code]

[2015-01-23 22:02] mkosmala commented on #44
Ah right. Okay, not as bad as I was thinking. So as I understand it:
1. The invalid images have valid classifications, but bad time stamps.
2. When we created the formal dataset, we left out invalid images because of their bad time stamps.
3. But time stamps didn't matter for comparing to gold standard, so we hadn't paid attention to that until now.

So... hmmm. I agree that probably best is to om

[2015-01-27 01:56] palme516 commented on #27
@mkosmala @aliburchard: Just went through all the recovered rolls -- all of the folders are images we don't have anywhere else (I went through and checked when I first dumped them in there, I think). For some of them, it's fairly obvious where the roll belongs, and I've named the directories with the SX_SX_RX. There were one or two that I wanted to bring to your attention though:

- I assume that

[2015-01-30 16:49] mkosmala commented on #17
@aliburchard @palme516 Probably too late, but I just was rereading old blog posts and saw that we have seen a pangolin in the captures. Maybe better to have 'pangolin' than 'vulture'. But perhaps it's too late for Season 8. Thoughts?

[2015-01-30 18:38] aliburchard commented on #17
We've only seen a pangolin once in three years of images -- I think vultures are a better option (and one that could be useful for anyone studying scavenging behavior).

[2015-01-30 18:49] mkosmala commented on #17
Duikers and steenboks and zorillas and such are rare, too. The issue is that there's no correct category if you *do* see a pangolin. There *is* another correct option (otherBird) if you see a vulture and we don't have a category for it.

[2015-01-30 19:29] aliburchard commented on #17
I don't think we really need a zorilla option either, to be honest, unless we had a scientist actively studying zorillas. Things that are that rare are easily found by hashtagging, and spark a fair bit of conversation with a "what is this?" thread. We don't have crocodiles or tortoises, and both of those are in our study area and more common than pangolins -- I would have thought we'd see one of t

[2015-01-30 19:31] mkosmala commented on #17
Understood. But we don't actually know if we're missing rare things that *don't* get tagged on Talk. We only see the ones that do. Getting tagged on Talk requires being seen by at least one person who bothers to use Talk. And we know that the vast majority of users don't use Talk.

[2015-02-03 11:50] aliburchard commented on #17
True. Do we have any idea what percent of users do use talk?

On the upside, at least 10 people will see every image (and because of the rate of processing, we get an average of nearly 50 people per image, it seems). But that's a good point.

[2015-02-03 19:06] mkosmala commented on #17
No, actually an analysis of how many users (and which users -- are they the ones that contribute most of the classifications?) would be really interesting.

Yes, agreed, that I think we catch a lot. But I've also come across images that I'm really surprised haven't been tagged in Talk. Anyway, I think it's too late for pangolin this time around. But maybe keep 'em in mind for the future...

[2015-02-06 15:07] aliburchard commented on #24
@palme516 -- Michael Parrish noticed that large sections of E11 (rolls 1, 2, and 3) are solid black. I'm wondering if the flash is broken? Can you check that roll out quickly to see if it should be invalidated? Also, if it is the flash, I'd mark that site for replacing the camera trap.

I don't know what the best approach is for such cameras. Maybe we should consider adding a code to the roll to i

[2015-02-06 16:35] palme516 commented on #24
@mkosmala Guh, yup, the flash is definitely bust. It looks like about a third or just a bit less of each of those rolls is solid black. The problem is that the camera is consistently misfiring at absolutely nothing, which is what there are so many. The daytime pictures are absolutely fine (although there's very little in them, because of the constant misfiring). Having a code for this kind of thin

[2015-02-13 20:35] palme516 commented on #24
@mkosmala @aliburchard I just had some undergrads run through pictures from each site, and there appear to be ~15 sites where the night flashes just don't work. There seem to be enough to warrant an additional Invalid code for day pics only.

There was also a roll where the night pictures were just fine, but the day *pictures* didn't work. I know you mentioned that videos only mess up day pictures

[2015-02-18 20:19] mkosmala opened #45 "Add image URLs to DB"

[2015-08-19 15:26] mkosmala opened #46 "Add to collaboration list"
Jeff Clune
Alex Bowyer

[2015-08-19 15:40] #24 closed

[2015-08-19 15:46] mkosmala commented on #4
Hi @palme516, I'm working on getting S7 and S8 into the database. But the cleaned metadata files for these seasons have slightly different formats. Particularly problematic, the S8 file omits seconds in the timestamp -- it only has minutes and hours. We'll need to rerun the script that produced this file. I hope you didn't edit it by hand. (Did you?) I can rerun the script, but I don't know which

[2015-08-19 16:32] mkosmala commented on #43
Multiple invalid codes were sorted out by hand for S8. And they shouldn't exist for seasons already in the database because the invalid code is at the capture level, not the image level.

There is one in S7. It can be removed by hand.

General solution should be to fix these issues manually in the cleaning stage.

[2015-08-19 16:32] #43 closed

[2015-08-19 18:35] mkosmala commented on #4
Splitting this issue into an S7 one and an S8 one...

[2015-08-19 18:35] mkosmala opened #47 "Import S8 metadata into database"
Split from #4

[2015-08-19 18:39] mkosmala commented on #47
I split the S7 and S8 issues, since they have different needs. For S8, we need to recreate the cleaned file list to contain proper timestamps (with their seconds) and in the same format as previous seasons. It looks to me like the current S8 "clean" file was saved in Excel <<shudder>>. We should **never** use Excel to work on these files. It has a nasty habit of changing date and time formats amon

[2015-08-19 18:41] mkosmala commented on #4
For S7, we have one capture that has two different invalid types (a la #43). We need to split this capture into two different ones. We can do that once the import into the database is complete, but I want a note here, so I don't forget to do it. The capture in question is S7, L10, roll 1, capture 3.

[2015-08-19 18:43] mkosmala opened #48 "Rename image files in database to be full format"
Do this for S1-S7.

[2015-08-19 18:43] mkosmala commented on #4
Another thing to note is that starting in S8, the photos are all properly renamed in the clean metadata file. (For example: S7_L10_R1_IMAG0001.JPG instead of just IMAG0001.JPG)

But for S7 and previous, it's not. I'll import the S7 metadata file as-is and then change image filenames for S1-S7 all in one go per #48.

[2015-08-19 18:44] mkosmala commented on #4
Also, a question to address: should I also be importing S6_MORE? Or has that already been done. Will investigate.

[2015-08-19 18:52] aliburchard commented on #47
Just wanted to add that we should never even *open* the files in Excel. Even if you don't save the file, if you so much as view the file in excel, the dates are interpreted and converted. It's completely ridiculous, but true.

[2015-08-19 18:57] mkosmala commented on #47
@aliburchard That doesn't happen on Windows -- you have to actually save the file to change it. But wow.

[2015-08-19 19:23] mkosmala commented on #4
Each new season metadata import will need to also have a 'season' file that describes that season. Format is one comma-separated line with fields:
season: integer
start date: date in format 'YYYY-MM-DD'
end date: date in format 'YYYY-MM-DD'
comments: quoted string of up to 500 characters

[2015-08-20 16:51] mkosmala commented on #4
@palme516 @aliburchard We will need approximate start and end dates for season 7 and 8. Can either of you provide those?

[2015-08-20 21:16] #17 closed

[2015-08-20 21:17] mkosmala commented on #4
We need another change to the cleaning scripts. Whatever was run on S7 and S8 didn't preserve the original JPG timestamp. We need both the old and new timestamps. Will make a separate issue for cleaning script changes.

[2015-08-20 21:23] mkosmala opened #49 "Update cleaning script output format"
Forked from #4:
The cleaning scripts should produce a format that looks like the following:
COLUMNS:
season: integer (season number)
site: 3-character alphanumeric representing gridcell of the camera
roll: integer (roll number within site)
capture: integer (capture number within roll)
image: integer (image number within capture)
path: full path and file name of image
newtime: corrected datetime fo

[2015-08-28 15:00] palme516 commented on #47
Argh, who would make such an evil program as Excel??? Yup, I probably did open the file in Excel to view it and the changes happened then. I certainly didn't do any manual editing to the timestamps. It won't happen again...

[2015-08-28 15:01] palme516 commented on #47
To remake the cleaned file, you can run the scripts outlined in the "Protocol" document saved in MSI in the "TimeStampCleaning" directory. Margaret, do you have time to do this quickly? Otherwise I can work on it this weekend.

[2015-08-28 15:07] palme516 commented on #4
I'm going to be uploading S9 to MSI shortly and will begin cleaning in the next few days (also S10 when it arrives in the mail from Michael Anderson). Could you please keep me up to date on which cleaning scripts are new vs. old and what changes might need to be made? Are there still cleaning script issues or did the primary issue result from viewing the data in Excel?

[2015-08-28 15:42] mkosmala commented on #4
Please, please do not do anything with S9 until we have S7 and S8 sorted out. I have not touched any of the cleaning scripts. I have never used them and do not know what they contain. That's why I've been waiting for you. Please see #49 for what needs to be done.

[2015-08-28 15:43] mkosmala commented on #47
No, I am unfamiliar with the cleaning scripts and have been waiting for you to update/fix them. See #49 for details.

[2015-08-28 15:45] palme516 commented on #4
Roger that. I was just going to upload S9 images to MSI while we worked through these issues. I'll work through S8 cleaning with the scripts we have been using this weekend and make sure when I meet with IT next week that our outputs from the new scripts are correct.

[2015-08-28 15:50] mkosmala commented on #4
Oh, gosh, the new scripts. Ugh. Okay, here's a good plan: run the MSI scripts on S7 and S8 and make sure they produce EXACTLY THE SAME output as the current output. It's very possible that they'll create different numbers for their captures or images, and that would make for a **huge** mess. (It took Ali and I about 6 months to disentangle the mess that was S1-S6 because of exactly this sort of pr

[2015-08-28 15:53] palme516 commented on #4
I am all for not creating huge messes. I won't run the new scripts on any new data until the check out exactly with what we've already got.

[2015-08-30 01:18] palme516 commented on #49
Done. Will upload new scripts to GitHub and MSI later tonight.

[2015-08-31 16:49] palme516 commented on #47
Okay, there's a new copy of S7 and S8 cleaned data up on MSI in the TimeStampCleaning/CleanedCaptured directory, in the new format you wanted and the timestamps should be unmolested by any Excel tampering. Took a while on S8 to get together all the manual changes we made last time with the wonky long capture events, but should be identical now.

Having a meeting with IT on Wednesday to take a look

[2015-08-31 17:02] palme516 commented on #49
Scripts are up on both.

[2015-08-31 17:02] #49 closed

[2015-08-31 17:48] mkosmala commented on #47
@palme516 When you say "should be identical", does that mean you have compared them? Either by script or spot-checked them? I'm not going to be checking that they're the same. And we want to be absolutely sure they're the same so we don't make a Big Mess.

[2015-08-31 18:54] palme516 commented on #47
I went through and checked/compared the entire sites (all rolls) for ever site that I could find mention of us having issues with in all of our GitHub and email threads (compared number of capture events, invalid IDs, etc). I also checked through the entire datasets looking at everything that was marked as invalid to make sure that we had the same number of invalid images, number of images per cap

[2015-09-01 19:59] palme516 commented on #47
Just ran some code on S7 and S8 looking for differences in the number of rolls and the number of capture events within those rolls for each site. The files I remade and the files we sent to Zooniverse have the same number of rolls and capture events.

[2015-09-01 20:01] mkosmala commented on #49
Looks pretty good. Note that the format is not exactly as I have it above. But I can work with it. Actual format output of scripts is:

COLUMNS:
[no name]: row number (integer increasing)
season: integer (season number)
site: 3-character alphanumeric representing gridcell of the camera
roll: integer (roll number within site)
capture: integer (capture number within roll)
image: integer (image numbe

[2015-09-01 20:38] mkosmala commented on #47
Excellent. Last thing I need from you is two short (one-line) 'Season' files. The format should be a  comma-separated line with fields:
* season: integer
* start date: date in format 'YYYY-MM-DD'
* end date: date in format 'YYYY-MM-DD'
* comments: quoted string of up to 500 characters

No headers needed. So a file might simply look like:
```7,2013-06-01,2014-01-31,"Meredith in field"```

[2015-09-01 21:18] palme516 commented on #47
Hm, the earliest valid entry for S7 in the data is 2013-01-29?

I uploaded this file ("SeasonFile.csv") into the TimeStampCleaning directory on MSI

[2015-09-02 00:52] mkosmala commented on #47
Is that possibly a missed roll from S6? I remember we had a group of rolls from S6 that didn't make it back to MN until S7 was brought back...

[2015-09-02 13:58] palme516 commented on #47
There are rolls from 161 sites (valid data) between the dates of 01-29-2013 and 06-06-2013, so I'm guessing not. Where did you get your date from?

[2015-09-02 15:45] mkosmala commented on #47
It's the last date of S6. But let's use your dates for S7. They're meant more to be general guides. If we ever need exact stop and start dates we can calculate them based on the images on the first and last rolls of that season.

[2015-09-02 15:53] palme516 commented on #47
I think there's always a few months of overlap because of the schedule of SD card collection. I put the earliest and latest valid picture dates for 7 and 8 into the season file and there's about two months of overlap there as well.

[2015-09-04 20:46] mkosmala commented on #4
Okay... the metadata from the cleaned timestamp scripts from S7 have been imported into the database.

In S7 there are:
486 total rolls
305,925 total capture events
304,671 capture events that went to Zooniverse (99.6% of total)
835,483 total images

Notes:
1. The roll times aren't right. I accidentally calculated roll times by site. So don't use this for CT effort yet until I fix them.
  TO DO:

[2015-10-02 19:15] mkosmala commented on #47
I'm working on getting S8 imported. My script tells me that S05 is a newly created site for Season 8. Is this true, @palme516 ?

[2015-10-02 19:40] mkosmala commented on #47
To import S8, I'm going to need the following information for all new sites:
* site name (e.g. "S05")
* GPS coordinates for the center of the grid cell where the camera is located
* GPS coordinates for the camera itself
* cardinal direction camera is facing (if known)
* establishment date
* altitude (if known)
* values for the site characteristics: Shade, Grass, Trees, Poles, TrailDistance, TrailQ

[2015-10-02 19:57] mkosmala commented on #4
I have fixed the roll start and stop times for S7.

The script that uploads the cleaned season data no longer calculates roll start and stop times. Instead, there is a separate script that does that after the data are all imported. This is a much cleaner solution (and allows for easy re-calculation of start and stop times if some images are later invalidated).

Now just need to address the small i

[2015-10-04 20:11] palme516 commented on #47
This is just a smidge before my time, but there is no site S05. I just went in and looked at the pictures in this S05 folder, and the one S05 roll is actually for site S07 (Norbert must have mislabeled the folder). I believe that S05_R1 is actually S07_R1 (we have an S07_R2 which occurs a few months later, but we're missing R1). Let me know if you want me to relabel this roll + images on MSI, or w

[2015-10-05 14:04] mkosmala commented on #47
Yes, please relabel the roll and fix anything else that needs fixing at MSI. Then rerun the cleaning script(s) so that the output has the correct site in it.

FYI: My importing-to-the-database script runs some checks first, before importing, to make sure nothing will break when the imports happen. So S8 hasn't been imported at all yet, since the checks didn't pass.

@aliburchard: Here's an interes

[2015-10-05 18:45] palme516 commented on #47
Everything is renamed, rerunning scripts on S8 right now.

[2015-10-05 18:46] palme516 commented on #47
I'll let you know when everything is fixed up and the final clean copies of S8 are in place.

[2015-10-05 19:04] aliburchard commented on #47
I left the Serengeti sometime in summer 2013, so I think S8 was well after my time.

I seem to recall establishing a camera at S05, but there's a good chance that that camera never produced useable photos (e.g. if the camera was likely stolen or damaged). That being said, I don't have my field notebooks or the MS Access field entry database in the UK so can't confirm that.

@palme516 just want to

[2015-10-05 19:10] palme516 commented on #47
S8 is 2013/2014 -- I was talking in terms of field work. S07 is the highest "S" site we have -- an S05 site would have been far into the wet boggy foresty fly area where all the Maasai area.

Anyhow, @aliburchard, the blackboard in the picture says "S07". I've already gone through the sites I'm processing right now to make sure that we don't enter any possible sites again!

[2015-10-06 13:48] #36 closed

[2015-10-06 14:27] mkosmala opened #50 "S6_MORE"
Figure out the status of the S6_MORE images. Does the metadata need to be imported to the database?

[2015-10-06 14:28] mkosmala commented on #4
S7, L10, roll 1, capture 3 supposedly has two different Invalid codes. But the whole roll is Invalid 2, so I'm just going to leave it as-is.

[2015-10-06 14:34] mkosmala commented on #4
S7 metadata is now all properly uploaded into the database.

[2015-10-06 14:34] #4 closed

[2015-10-06 14:53] aliburchard commented on #47
@mkosmala @palme516 Michael is happy to make the change in the Zooniverse DB. Can one of you confirm that it's only 24 images in S8 S05 before he makes that change? Thanks!

[2015-10-06 14:58] palme516 commented on #47
@aliburchard I see 40 images?

[2015-10-06 14:59] aliburchard commented on #47
Ah, sorry, 24 subjects. that sounds about right though (40 images == 24 subjects when you average day and night photos)

[2015-10-06 15:00] palme516 commented on #47
Ah, gotcha!

[2015-10-06 15:00] mkosmala commented on #47
Confirmed. 24 captures/subjects and 40 images.

On Tue, Oct 6, 2015 at 10:59 AM, ali <notifications@github.com> wrote:

[2015-10-06 15:19] mkosmala opened #51 "Update scripts to use auth files"
Instead of having my info hard-coded...

[2015-10-07 16:54] palme516 opened #52 "S9 & S10"
@aliburchard @mkosmala

I think MSI is down for maintenance at the moment, but as soon as I can get back online, I am going to upload the cleaned S9 and S10 captures.

In addition, I will be uploading new scripts onto both MSI and GitHub:

- I ended up rewriting all of Ali's directory restructuring scripts into a single shell script. It's a little less complicated and it doesn't drop, delete, or m

[2015-10-07 22:06] palme516 commented on #52
Okay, @mkosmala @aliburchard -- the cleaned S9 and S10 files (+ scripts, action lists, etc.) are online at MSI now. I'll finish redoing S8 today/tomorrow.

[2015-10-07 22:06] #52 closed

[2015-10-08 18:05] palme516 commented on #47
@mkosmala Cleaned S8 files are up on MSI

[2015-10-08 18:06] palme516 commented on #52
Also, comments on missing rolls are also uploaded. There are two rolls missing (one from each season) that I have emailed Norbert about.

[2015-10-09 02:31] mkosmala commented on #47
@palme516 There's something weird happening in the cleaning scripts.

In the S8 cleaned file, for L10, roll 1, capture event number 132, the images start numbering at 19. The database won't import unless for each capture event, the images start numbering at 1. I checked S8_captures.csv, and the image numbers start at 1 for this capture in that file, so it's definitely something going on in the cle

[2015-10-09 02:34] mkosmala opened #53 "Fix mis-named site in Zooniverse database"
From #47:
Can we change the metadata at Zooniverse? It would be fairly easy (I think) to search for S05 in the site field in the Zooniverse database and change all occurrences to S07. That way, when we import that Zooniverse classifications, everything will match up properly.

[2015-10-09 13:53] palme516 commented on #47
Woo, what the heck. Debugging right now!

[2015-10-09 14:59] palme516 commented on #47
Hm, okay, I think I caught the primary error and fixed it. Just uploaded a new S8_cleaned onto MSI.

[2015-10-09 15:50] mkosmala commented on #47
S8 metadata imported!

Summary from the database:
521 rolls
362,311 capture events
987,032 images

362,213 capture events went to Zooniverse (99.97%)
By invalid code:
0: 359,557
1: 98
2: 12
3: 2,644

Do these numbers look right, Meredith?

[2015-10-09 15:54] mkosmala opened #54 "Import S9 and S10 into database"
@palme516 Did you rerun the cleaning scripts on S9 and S10 (in addition to S8) after you fixed them?

[2015-10-09 16:00] palme516 commented on #54
@mkosmala The issues we had with the S8 CEs were ones that I had a separate script for in R (the first time I had to deal with separating the CEs, so I wanted to make sure I knew what I was coding).This is where the issue you just caught/I just fixed cropped up and where it was debugged.

Seasons 9 and 10 didn't use these scripts: I modified the cleaning scripts themselves after I figured out what

[2015-10-09 16:06] mkosmala commented on #54
@palme516 Great! Then can you create season files for S9 and S10? I made a ref doc here:
https://github.com/SnapshotSerengetiScienceTeam/DataManagement/blob/master/How-to/create_season_metadata_file.txt

[2015-10-09 16:08] mkosmala opened #55 "Import S7 and S8 classifications into database"

[2015-10-09 16:14] mkosmala commented on #46
Steven Allain

[2015-10-09 16:32] palme516 commented on #47
I get almost the same numbers looking at the capture file except for the number of invalid CEs for 1 and 3 -- I get 123 INVALID1 CEs and 2641 INVALID3 CEs.

[2015-10-09 16:37] mkosmala commented on #47
How many total capture events do you have?

[2015-10-09 17:40] palme516 commented on #54
@mkosmala Alright! These are up for S9 and S10 now.

Note: I caught an obvious timechange error that hadn't popped in the field data or cleaning, so that is now fixed in the S9 Action List and S9_cleaned files and these have been reuploaded to MSI.

[2015-10-09 18:30] mkosmala commented on #54
@palme516 Your cleaning scripts are creating two different output formats.

In the cleaned files, for Seasons 7 and 9, there is a column at the beginning with no name that numbers each line. For Seasons 8 and 10, this column is missing.

I don't really care if that column is there or not, but the format needs to stay consistent. I modified my script between seasons 7 and 8 to read files that don't

[2015-10-09 23:44] palme516 commented on #54
I'm sorry - this is the difference between keeping or removing row numbers when I save the file from R. I don't need these, and can delete them from S9 and reupload. Doing now, should be done in a sec.

[2015-10-09 23:51] palme516 commented on #54
Okay, cleaned S9 has been reuploaded.

[2015-10-10 00:20] palme516 commented on #47
Okay, so some of the numbers I gave you don't hold out, but I still have a few discrepancies between your numbers and the newest cleaned file. I have the following CEs containing at least one invalid 1:

L06_R1 CE 1003
L10_R1 CEs 307, 346, 549, 711, 877, 892, 1004, 1005, 1072, 1137, 1164, 1179, 1185, 1283
L10_R2 CEs 116, 117
L10_R3 CEs 103, 105, 135, 190, 209, 245, 280, 381

[2015-10-14 09:49] aliburchard commented on #53
This should be done now.

[2015-10-14 09:49] #53 closed

[2015-10-16 21:06] mkosmala commented on #54
S9 and S10 have been imported. Note that invalid code 3 wasn't used at all for either season. Seems a bit weird? @palme516 When you get the chance can you check these summaries from the database to make sure they look reasonable?

**S9**
478 rolls
372,617 capture events
989,761 images

369,564 capture events ready to go to Zooniverse (99.18%)
By invalid code:
0: 369,564
1: 3,053
2: 0
3: 0

**S10**

[2015-10-19 16:28] palme516 commented on #54
@mkosmala In Africa right now, will check it out first thing when I get back next week.

[2015-11-02 16:18] palme516 commented on #54
This is correct --- I had no invalid3's for either season.

[2015-11-02 16:33] mkosmala commented on #54
And how to the summaries look? (Are there no invalid 3's because the error-checking scripts are better than they used to be? We had invalid 3's in every previous season...)

[2015-11-02 18:44] palme516 commented on #54
I'm getting very slightly different numbers:

S9: 369,566 CE sent to Zooniverse
S10: 253199 CE total, 253199 CE sent to Zooniverse

But same number of images, rolls, etc. -- could you send me an extended summary so I can look at where the differences occur?

According to the notes in my ActionLists, the majority of the invalids in these seasons are misfires with no animals present and bad/stuck ti

[2015-11-03 20:54] palme516 commented on #54
Thanks for sending me that data, @mkosmala -- here's what I found:

S9: I get the same number of rolls, images, and capture events overall and for INVALID 0, 2, & 3
Issue 1) I come up with 37 more capture events for INVALID 1 (MSP: 3,090 vs. MK: 3,053)

Issue 1) You seem to have INVALID 1 capture events only in rolls E13_R1, G01_R2, I13_R1, L10_R1, & S13_R3; I find INVALID 1 capture events in my d

[2015-11-23 21:43] mkosmala commented on #54
For S9, Issue 1:
* For F04_R2, I have 1197 events with invalid=0 (and none with invalid=1 obviously). Capture event numbering ranges from 1 to 1197, with no gaps. How many total events do you have for F04_R2? What are the capture event numbers for the ones with invalid=1?
* For I13_R2, I have the same thing. I have 1296 capture events ranging in numbering from 1 to 1296, with no gaps. How many tot

[2015-11-23 21:47] mkosmala commented on #54
Hey, I just looked at S10 I13_R2 in the cleaning scripts. Capture event number 188 has four associated images:
S10/I13/I13_R2/S10_I13_R2_IMAG0449.JPG
S10/I13/I13_R2/S10_I13_R2_IMAG0450.JPG
S10/I13/I13_R2/S10_I13_R2_IMAG0451.JPG
S10/I13/I13_R2/S10_I13_R2_IMAG0452.JPG

Only the last of these four images is marked invalid. Can you see what's going on? Is that one image (out of the entire roll) really

[2015-11-24 15:33] aliburchard commented on #54
Hmm, I do remember this situation popping up on occasion, and I'm ambivalent. Manually creating a capture event would be a pain because it would be out of order *or* require re-numbering subsequent captures. On the other hand, while I'm not madly in love with having images that have no record of existing in the database, if it's a relatively rare occurrence and we document it somewhere, that might

[2015-12-02 19:38] palme516 commented on #54
We had a bit to-do last time about capture events having more than three images in them. For these seasons, if the images had nothing in them (sticking misfires), I invalidating the >3 images in the capture event so the first three images are fine and the rest are invalid (which I'm almost 100% sure is the solution we came to last time). If the capture event have >3 images that were obviously mult

[2015-12-14 21:27] mkosmala opened #56 "Document data import and cleaning processes"
Write instructions on how to get images off of hard drives and onto MSI.
Then write instructions on how to go through the data cleaning steps so that everything is ready for (1) import into the database; and (2) export to Zooniverse.

These docs may already exist, but should live here on GitHub. @palme516 ?

[2015-12-14 21:53] mkosmala commented on #54
Okay, so if I understand it correctly, all these "extra" images aren't "wrong" per se, there are just too many images per capture, right? And all the affected captures are no-animals-present captures, also right? If so, then I don't think it makes sense to spend a lot of time removing these images from their capture events and invalidating them separately. They haven't gone to Zooniverse, which is

[2015-12-15 15:22] palme516 commented on #54
Sounds good!

[2015-12-18 00:22] palme516 commented on #56
Just committed to the "How-To" directory

[2015-12-18 18:35] palme516 commented on #56
Should be there now, let me know if you still can't get to it!

[2015-12-18 18:46] #56 closed

[2015-12-31 02:09] #54 closed

[2015-12-31 02:24] mkosmala commented on #47
@palme516, can you upload the cleaning notes files for S8 to GitHub like you did for S9 and S10. My guess is that the dependencies here arise from the same problem as in S9 and S10 -- namely, invalidating some images within captures. But I want to investigate to make sure.

[2015-12-31 02:27] #30 closed

[2015-12-31 02:33] mkosmala commented on #50
@aliburchard @palme516
Hey, anyone remember what happened to the images that used to be in S6_MORE? These were images that we actually processed at Zooniverse with S7. I'm not sure if they got into the database or not...

[2015-12-31 03:13] mkosmala commented on #55
Requested data dump from Zooniverse of just S7 and S8.

[2015-12-31 21:02] palme516 commented on #47
@mkosmala Just uploaded! Let me know if you have questions.

[2016-01-04 20:45] mkosmala commented on #47
@palme516

1. L06_R1 CE 1003 consists of one image. It is invalid=0 in the database. Should it not be? I didn't find this capture in the cleaning notes. *Oh wait!* I think you meant L06_R**2**, which is in your cleaning notes. Sure enough, I think this is the same issue as the next one (read on).
2. L10_R1 CE 307 has many images (34 to be exact) and invalid=3 in the database. You marked them all t

[2016-01-04 20:45] #47 closed

[2016-01-05 17:50] mkosmala opened #57 "Import Lost Season classifications to DB"
@aliburchard Where is the list of captures that were sent to Zooniverse for the Lost Season?

[2016-01-05 18:27] #34 closed

[2016-01-06 14:15] aliburchard commented on #57
On its way to your inbox just now.

[2016-01-06 16:24] mkosmala opened #58 "Add capability for non-numeric season identifiers"
Until now, all "Seasons" have been 1, 2, 3, etc.
We will soon have seasons WF1, WF2, etc.
The Seasons table needs to be modified to accommodate these non-numeric seasons.

[2016-01-06 16:27] mkosmala opened #59 "Delete 'arfon' and 'zoon' accounts"

[2016-01-11 18:45] mkosmala opened #60 "Rewrite extract_non_empty_subjects.py script"
The format of the season-only data dumps only gives a classification a 'consensus' or 'complete' marking once the capture has accrued enough classifications to retire. So the first 9 classifications may be marked 'none' for retire reason. This breaks the existing extract_non_empty_subjects.py script. It will need to be rewritten to first find all the captures that retire as 'consensus' or 'complet

[2016-01-11 21:00] mkosmala commented on #60
Done. Should work fine. But if there are weirdnesses, might be worth looking carefully at this script.

[2016-01-11 21:00] #60 closed

[2016-01-11 21:01] #59 closed

[2016-01-12 18:40] mkosmala opened #61 "Move S7 and S8 images to 2nd tier storage at MSI"
S1-S6 were copied over by someone at MSI after I tried and was unable to move many TB all at once. This is maybe something Cory can look into in a little while.

@tesherista There might be better documentation pages up now at MSI on copying files to 2nd tier storage. If not, an email to help@msi.umn.edu always does the trick for me!

[2016-02-05 18:44] mkosmala commented on #55
@palme516 @aliburchard @tesherista I'm making progress on getting S7 into the database. I've just matched up the Zooniverse output to what we have in the database. (Ali will remember that this was a multiple-month nightmare for S1-S6.) The good news is that it's very much less nightmarish with our new system. But we still have some discrepancies that we need to make decisions about.

1. For S7, it

[2016-02-08 18:01] palme516 commented on #55
Progress! Awesome! Glad it's going a bit smoother this time around...

@mkosmala ...
1a. I'm okay with not importing them.

2. I just checked the original hard drive-- those two images are the images of the chalkboard (it looks like I deleted one and renamed the other "IMAG0000.JPG" in the MSI data, probably so that I didn't have to change my scripts to pick up those files). There's no animal data

[2016-02-19 16:45] mkosmala opened #62 "Exclude blank images in S9"
@palme516 I've run across a lot of all-black and all-white images in S9, suggesting that there are some cameras out there that weren't functioning correctly. We should try to identify these so that we're not inflating our camera-trap-days measure by saying that there were "no animals" during a place and time when the camera wasn't recording properly.

[2016-02-19 17:33] palme516 commented on #62
@mkosmala IT here wrote me a python script a few months ago which pulls these images out. I'm hoping Cory can integrate it into our regular cleaning protocol, but perhaps Cory can show me how to run it on the data we already have.

[2016-02-19 18:03] mkosmala commented on #62
@tesherista, could you coordinate with @palme516 to look at the script she's talking about? We'll need to invalidate the relevant captures in the database...

[2016-02-22 18:13] tesherista commented on #62
Will do, after @palme516 recovers from her prelim tomorrow. Meredith, just shoot that script over to me when you get a chance.

[2016-02-24 14:47] palme516 commented on #62
@tesherista I just sent them your way!

[2016-03-14 16:20] mkosmala commented on #55
Okay, so we won't worry about importing classifications for invalid images (1 above). I updated the database to point to the correct image for 2 above. I don't see Zooniverse classifications for this capture, so it is now in the third category above -- images that didn't get sent to Zooniverse, but that have captures in the database. Neither issue 1 or 3 will slow down getting S7 and S8 into the d

[2016-03-14 16:24] mkosmala opened #63 "Captures missing from Zooniverse"
This issue is a spin-off from #55:

@aliburchard: for Season 7, we have 26 captures in the database that we don't have classifications for. Each of the captures is a single-image capture. Can you see if there are any captures with the following images in Zooniverse's database? I want to make sure we're not getting some weird thing where some captures at Zooniverse didn't process for whatever reaso

[2016-03-14 16:25] mkosmala opened #64 "Zooniverse importing invalid captures"
This issue is a spin-off from #55:

@aliburchard For S7, Zooniverse appears to have grabbed all captures, including those marked invalid=1 and send-to-Zooniverse=0. Can you double-check that the import scripts are properly ignoring invalid images?

[2016-03-14 17:06] mkosmala opened #65 "Revamp scripts in light of Zooniverse retirement recording change"
Related to #55. Previously, when we got a data dump from Zooniverse, the retirement reason was the same for all classifications for a given capture. (For example, 'consensus'.) But for S7 and S8, the dump from Zooniverse has 'none' as the retirement reason for early classifications and only becomes a valid retirement reason when the capture retires. So, for example, the first 13 classifications fo

[2016-03-14 17:52] mkosmala opened #66 "Add new S7 species to database"
Related to #55: For S7, we added six new "species" to Snapshot Serengeti that users could choose from. These now need to be added to the database in table 'Species'. @tesherista, you should be able to do this quite easily. `idSpecies` auto-increments. The species values to add are:
`duiker`, `steenbok`, `cattle`, `bat`, `insectSpider`, `vulture`

After you've done that, you'll also need to update

[2016-03-14 19:50] mkosmala opened #67 "Revamp prep_season.py script to not do user hashes"
The prep_season.py script runs with input that only includes captures that retired with 'consensus' or 'complete'. So any users who did only 'blank' or 'blank_consensus' captures won't be caught by the script. Instead, there's a new script to do all users. So the user-hashing functionality should be removed from prep_season.py. It should still condense classifications as needed.

[2016-03-14 19:55] mkosmala commented on #51
And also update all uploading scripts so that the auth info is used when recording to the database log instead of my info (currently hard-coded).

[2016-03-14 20:33] mkosmala opened #68 "Why did I get truncation warnings on importing links?"
When uploading the links file, I got 64 instances that read:
`/panfs/roc/groups/5/packerc/shared/metadata_db/scripts/snapshotDB.py:10: Warning: Data truncated for column 'ZooniverseIdentifier' at row 61
  cur.execute(command)`
But on checking the import file S7_links.csv, all items in ZooniverseIdentifier were 10 characters long. Not sure why this happened. (Weird whitespace issues?)

[2016-03-14 20:37] mkosmala commented on #55
Users added for S7. (~16,000 new ones!)
Links between Zooniverse IDs and our CaptureEvents added for S7. Total S7 linked captures = 304,645.

[2016-03-14 21:35] mkosmala commented on #65
The script that needs modification is /home/packerc/shared/classifications_data/scripts/plurality_consensus.py.

_Cory edit: /home/packerc/shared/scripts/plurality_consensus.py._

[2016-03-14 21:36] mkosmala commented on #68
All links seem to work correctly, so I'm going to ignore the warnings...

[2016-03-14 21:36] #68 closed

[2016-03-15 13:41] meredithspalmer commented on #55
Awesome! Excited to take a look at this data. Please let me know when you have time to upload it to the SQL database. Thanks!

[2016-03-19 20:56] tesherista commented on #55
I'm going through what @mkosmala & I went over Fri 3/18, will hit #65 soon. Probably going to finish up S7 (Margaret, confirming that's officially on my plate now, yes?) & start S8 concurrently; will add changes/clarifications to the [uploading classifications notes](https://raw.githubusercontent.com/SnapshotSerengetiScienceTeam/DataManagement/master/How-to/upload_classifications_to_database.txt).

[2016-03-21 11:08] aliburchard commented on #64
Yeah, this was a mistake. Not sure if S8 included these, but we definitely fixed this for S9.

[2016-03-21 11:08] #64 closed

[2016-03-24 22:26] tesherista commented on #65
Fixed.

[2016-03-24 22:26] #65 closed

[2016-04-25 18:12] tesherista commented on #66
Took a while just because I was having such a hard time getting MSI to let me connect to the db; all the new species are now in both the species table & the script.

[2016-04-25 18:12] #66 closed

[2016-05-14 13:03] aliburchard commented on #63
Looks like these were never uploaded to Ouroboros. Not sure why - perhaps just silent failures in the upload process? If we want Zoonvierse IDs on them, we should send them in with another season.

[2017-07-03 20:56] #15 closed

[2017-07-03 21:11] mkosmala commented on #55
I'm assuming this should be closed?

[2017-07-03 21:11] #55 closed